There is no way to specify a required algorithm for Given Keys

When parsing keys from JWKS, the "alg" parameter is loaded and enforced by the KeyFunc:  an error will be returned if the token header's algorithm does not match the key's specified algorithm (if any).   This is good!

But when constructing a keyfunc from GivenKeys, there is no way to specify which algorithm the keys are intended for.   Not enforcing the algorithm could (in theory) allow an attacker to specify the kid of a key intended for algorithm A but actually specify algorithm B.  If both A and B expected the same runtime type for their key, golang-jwt might validate the token using algorithm B despite the key only being intended for algorithm A.
Note: I don't think any practical exploit is possible using the default signing algorithms (given that golang-jwt blocks the "none" algorithm by default), but in theory it is best practice to ensure that the algorithm used matches what the key is intended for.

I think this could be solved easily by adding an algorithm field to `GivenKey`, plus a constructor that populates it.  This can just be copied to the `parsedJWK.algorithm` field and it wouldn't break backwards compatibility.

If this makes sense I can submit a PR for it.

Thank you for opening this issue, @sean-rn.

It is my understanding that `alg` related attacks happen when the `alg` is used as a component for key selection. `keyfunc` only selects keys based on their IDs, `kid`. Even though the `kid` parameter is optional for both JWS and JWT, it is required for this package to function.

> If both A and B expected the same runtime type for their key, golang-jwt might validate the token using algorithm B despite the key only being intended for algorithm A.

For example, an attacker forging a token with a self-created RSA key when the key used for signature verification is RSA PSS. Both of these use `*rsa.PublicKey` type when returning from the `jwt.Keyfunc`, and `golang-jwt` seems to pass on the _algorithm verification check_ to their package users. Presumably the _algorithm method selection_ happens inside `golang-jwt`, but it's been a while. I imagine it comes straight from the JWT header. In this case the package user of `golang-jwt` is `keyfunc`. It looks like that since `keyfunc` doesn't allow an `alg` to be specified for given keys. As a consequence, the _algorithm verification check_ cannot take place [on this line](https://github.com/MicahParks/keyfunc/blob/338d24e94dc828000accad2db6f04344e0e9eb43/jwks.go#L231). However, I believe there are not any known attacks for these types of `alg` mismatches. Again, I think the known vulnerabilities are when the `alg` is used _key selection_ not _algorithm selection_. I would imagine if such an attack does exist, there would need to be some specialized cryptography work needed to forge a self-created RSA key that could pass as a specific key under a different algorithm's signature verification algorithm.

Here's an article that mentions `alg` related attacks:
https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

But known attacks don't matter much, it's best to follow the RFCs. According to various RFCs `alg` specification by users and verification is required in all cases. Looks like `keyfunc` doesn't do that with given keys.

Here's a clear example [RFC 8725 Section 3.1](https://www.rfc-editor.org/rfc/rfc8725#section-3.1):
> Libraries MUST enable the caller to specify a supported set of algorithms and MUST NOT use any other algorithms when performing cryptographic operations. The library MUST ensure that the "alg" or "enc" header specifies the same algorithm that is used for the cryptographic operation. Moreover, each key MUST be used with exactly one algorithm, and this MUST be checked when the cryptographic operation is performed.

I'd like to implement the change you've suggested, @sean-rn. If you have a PR that is welcome.

I should have also mentioned that `alg` related attack described in the "RSA or HMAC?" section of the linked blog post. This type of attack is not possible with `golang-jwt` due to how keys are specific Go types. I guess coming from a mindset where this is possible blurs the line between _key selection_ and _algorithm selection_.

I also didn't mention how this could impact something like `HS256` vs `HS512` with given keys, but finding a collision isn't something I think is feasible at this time.

I agree there are no known attacks that could exploit this.  I was just thinking it would be best practice.

I wish the issue wasn't closed automatically when the PR is merged. I don't consider it closed until there is a tagged release.

You are 100% right, it's important to follow the RFC to the letter. Thank you for opening this issue and your PR @sean-rn! 

Please see the new release, [`v1.6.0`](https://github.com/MicahParks/keyfunc/releases/tag/v1.6.0).

A note on Go's type system:

In that article I linked earlier there is [a section about confusing symmetric keys vs asymmetric keys](https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/#RSA-or-HMAC).

Since golang-jwt needs to perform a type assertion on keys in order to use them in signature verification, it isn't possible to pass a key with the wrong type into a signature verification function. For example, you can't pass an `*rsa.PublicKey` into an HMAC signature verification function because the function is expecting `[]byte`.

On Tuesday, when I had time to look into this, I recalled that `ed25519.PublicKey` is [actually a type alias](https://cs.opensource.google/go/go/+/refs/tags/go1.19.3:src/crypto/ed25519/ed25519.go;l=38;drc=7c74b0db8a27188d0ca3bb2f4bd46d00c0dc8eea) for `[]byte`. HMAC keys are required to be of type `[]byte`. EdDSA is public key cryptography and HMAC is private key cryptography.

If both EdDSA and HMAC of keys were in `*keyfunc.JWKS` at the same type and the Go type system allowed a type alias to be type asserted into its aliased type I would have registered a CVE.

On Tuesday, I wrote a quick Proof Of Concept (POC) to see if an attacker could abuse this.
<details>
<summary>Click to expand POC:</summary>
<br>

```go
package main

import (
	"crypto/ed25519"
	"crypto/rand"
	"log"

	"github.com/golang-jwt/jwt/v4"

	"github.com/MicahParks/keyfunc"
)

const (
	eddsaKID = "myEdDSAKeyID"
	hmacKID  = "myHMACKeyID"
)

func main() {
	// Create an EdDSA key.
	public, _, err := ed25519.GenerateKey(rand.Reader)
	if err != nil {
		log.Fatalf("Failed to generate key pair: %v", err)
	}

	// Create a JWKS without specifying signing algorithms for keys.
	jwks := keyfunc.NewGiven(map[string]keyfunc.GivenKey{
		eddsaKID: keyfunc.NewGivenEdDSA(public),
		hmacKID:  keyfunc.NewGivenHMAC([]byte("irrelevant HMAC secret")),
	})

	// Attacker forges JWT with HMAC signature and EdDSA key ID.
	token := jwt.NewWithClaims(jwt.SigningMethodHS256, jwt.MapClaims{
		"attackerForged": true,
	})
	token.Header["kid"] = eddsaKID
	attackerForged, err := token.SignedString(public)
	if err != nil {
		log.Fatalf("Failed to sign attacker forged JWT: %v", err)
	}

	// Parse the attacker forged JWT.
	//
	// This should fail due to the Go type system preventing a key typed as ed25519.PublicKey from being used to sign a
	// token with a HMAC signature. This is despite ed25519.PublicKey being a type alias for []byte, which is the type
	// expected for HMAC signatures.
	token, err = jwt.Parse(attackerForged, jwks.Keyfunc)
	if err != nil {
		log.Fatalf("Failed to parse attacker forged JWT: %v", err)
	}

	// Confirm the validity of the token.
	//
	// This should never execute.
	if token.Valid {
		log.Println("Attacker forged JWT was valid!")
	} else {
		log.Println("Attacker forged JWT was invalid, but the code should have never reached this point.")
	}
}
```
</details>

<details>
<summary>More concise POC:</summary>
<br>

```go
package main

type myType bool

func main() {
	var i myType
	println("Can a type alias be type asserted to the aliased type?")
	if isBool(i) {
		println("Yes.")
	} else {
		println("No.")
	}
}

func isBool(i interface{}) bool {
	_, ok := i.(bool)
	return ok
}
```
</details>

Recapping what is in the above POCs, the Go type system does not allow a type alias to type assert into its aliased typed. This means a `ed25519.PublicKey` cannot be type asserted into an `[]byte`, so the code is not vulnerable, which is great. Thank you Go type system.