Allow base64url keys with padding to be decoded

Currently, the project does not allow for keys within a JWKS that have base64url padding to be decoded. This is because `base64.RawURLEncoding` was used instead of `base64.URLEncoding`

This issue was first discovered here: https://github.com/MicahParks/compatibility-keyfunc/issues/2

Maybe it's not a bug. Discussion ongoing in linked issue. 

Seems to be a false alarm for the bug call.

[RFC 7517 says](https://datatracker.ietf.org/doc/html/rfc7517#section-1.1) it uses the definition of base64url from Section 2 of RFC 7515.

[Section 2 of RFC 7515](https://datatracker.ietf.org/doc/html/rfc7515#section-2) defines base64url encoding like this:
> with all trailing '=' characters omitted

So, software that produces a JWKS that contains keys encoded with base64url and has trailing `=` is not compliant with the RFC. Since this project consumes any JWKS, the question for this issue is: should the project consume a JWKS that is not RFC compliant in this way?

I'm leaning towards yes, because:
* I can see how someone writing software that produces a JWKS could make this mistake.
* There is already an example of someone running into this in the wild.
* It would be trivial to implement.
* It would not impact the performance of the project in any noticeable way.

I'm hesitant to implement it because the it's against the RFC.

Not going to make the call today. If anyone has an opinion, feel free to leave it here.

Closing due to the release of [`v1.1.0`](https://github.com/MicahParks/keyfunc/releases/tag/v1.1.0).