KID  (Key ID) Verification Should Be Made Optional During JWT Validation

According to RFC 7517 Section 4.5, the kid (Key ID) header parameter is optional and is intended only to aid key selection during JWT validation.

The current implementation requires the kid to be present and strictly matched, causing validation failures if the kid is missing or does not correspond to any key in the JWK set. This behavior reduces flexibility and contradicts the RFC guidelines.

<img width="780" height="275" alt="Image" src="https://github.com/user-attachments/assets/0024f629-f072-46f5-80ce-b50f253b80ad" />

To comply with the standard and improve resilience, kid verification should be made optional, with a fallback mechanism that attempts validation using all available keys when the kid is missing or invalid.

@RomeoIndiaJulietUniform would you like to help me review #140?

@MicahParks Sure, commented on the PR.

@RomeoIndiaJulietUniform please use [`v3.5.0`](https://github.com/MicahParks/keyfunc/releases/tag/v3.5.0)